.App {
  text-align: center;
}

.dressThemes {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

.headerpage {
  width: 310px;
  height: 310px;
  border-radius: 12px;
  margin: 5%;
}
.aboutpage {
  width: 310px;
  height: 310px;
  border-radius: 12px;
  margin: 5%;
}
